* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    line-height: 1.6;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

.menu-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* SECTION */
.section {
    padding: 120px 8% 80px 8%;
    text-align: center;
}

/* HERO */
.hero h1 {
    font-size: 50px;
    background: linear-gradient(90deg, #38bdf8, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    max-width: 600px;
    margin: 20px auto;
    color: #cbd5e1;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 15px;
    border-radius: 30px;
    background: linear-gradient(90deg, #38bdf8, #818cf8);
    color: white;
    text-decoration: none;
    transition: 0.4s ease;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.6);
}

/* GLASS CARDS */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    transition: 0.4s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* FADE ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

/* RESPONSIVE */
@media(max-width:768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 8%;
        background: #0f172a;
        padding: 20px;
        border-radius: 10px;
    }
    
    nav ul.active {
        display: flex;
    }
    
    .menu-btn {
        display: block;
    }
    
    .hero h1 {
        font-size: 32px;
    }

}

.profile-img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    border:3px solid #38bdf8;
    box-shadow:0 0 25px rgba(56,189,248,0.5);
}
